body {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    padding: 0% 3%;
    /* position: fixed; */
    background-color: white;
    width: 100%;
    z-index: 5;
}

#head ul {
    display: flex;
    justify-content: right;
    width: 80%;
    padding-right: 1%;
}

#head ul>li {
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1;
    padding-left: 5%;
}

#head li>a {
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#head li>a:hover {
    color: rgb(241, 165, 35);
    transition-timing-function: linear;
}

@media (max-width: 600px) {
    #head ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    #head ul.show {
        display: flex;
    }

    #head ul>li {
        padding: 10px;
        transition-timing-function: ease-out;
        transition: all 1s;
    }

    #head ul>li:hover {
        transition-duration: 1s;
        transition-timing-function: ease;
        transform: translate(10px, 0px);
    }

    #head li>a:hover {
        text-decoration: underline;
    }

    #head .hamburger {
        display: block;
        cursor: pointer;
        padding-right: 2%;
    }

    #head .hamburger div {
        width: 25px;
        height: 3px;
        background-color: rgb(0, 0, 0);
        margin: 6px 0;
        transition: 0.4s;
    }

    .hamburger.active div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.active div:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}



/* main page styling */
main {
    background-image: url("images/img-4.jpg");
    height: 100vh;
    width: 98.5vw;
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 1%;
    box-sizing: border-box;
}

main div {
    margin-top: 15vw;
    padding: 1% 4%;
    color: white;
    font-family: sans-serif;
}

main div h1 {
    font-size: 5vw;
    padding: 0%;
    margin: 0;
}

main div p {
    font-size: 1.5vw;
}

.color {
    height: 3vw;
    background-color: rgb(241, 165, 35);
}




/* ======================== cars =================== */

.card {
    display: flex;
    height: 90vh;
    background-color: rgb(235, 233, 233);
}

.card1 {
    width: 50%;
    height: 90%;
    margin: 1%;
    background-color: white;
}

.card1 .content {
    width: 100%;
}

h1 {
    display: inline;
}

.image img {
    width: 100%;
    z-index: 1;
    height: 100%;
}

.card1 h1 {
    position: absolute;
    font-size: 1.6rem;
    margin-top: 1%;
    margin-left: 2%;
    font-weight: 200;
    color: orange;
}

.card1 p {
    color: rgb(99, 99, 99);
}

.feature {
    height: 17vh;
    width: 70%;
    margin-left: 8%;
    margin-top: 13%;
    color: rgb(99, 99, 99);
}

.feature p {
    font-size: 0.8rem;
    font-weight: 500;
}

.feature1 {
    margin-top: 12%;
}

.feature1 p {
    display: inline;
    margin-left: 3%;
}

#f1 {
    color: orange;
}

hr {
    border: 1.5px solid rgb(207, 205, 205);
    width: 80%;
    margin-left: 0;
}

#fas {
    margin-left: 10%;
}